<!DOCTYPE html>
<html>
    <head>
        <!-- Meta -->
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <!-- Title -->
        <title>{% block title %}SnowTricks - Utilisateur{% endblock %}</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">

        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <!--Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Main StyleSheet -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/profile.css">

        <!-- Responsive StyleSheet -->
        <link rel="stylesheet" href="/css/responsive.css">

        <!-- Icon -->
        <link rel="shortcut icon" href="/images/favicon.png">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>      
        <div class="container-fluid">
            <div class="row">
                <!-- Start Main Sidebar -->
                <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
                    <div class="main-navbar">
                        <nav class="navbar navbar-expand-lg align-items-stretch navbar-light flex-md-nowrap border-bottom p-0 d-none d-md-none d-lg-flex">
                            <a class="navbar-brand w-100 mr-0" href="{{ path('home') }}" style="line-height: 25px;">
                                <div class="d-table m-auto">
                                    <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 40px;" src="/images/favicon.png" alt="SnowTricks">
                                    <span class="d-none d-md-inline ml-1">SnowTricks</span>
                                </div>
                            </a>
                        </nav>
                    </div>
                    <nav class="navbar navbar-expand-lg align-items-stretch navbar-light flex-md-nowrap p-0">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#contenu" aria-controls="contenu" aria-expanded="false" aria-label="Toggle navigation">
                            <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 40px;" src="/images/favicon.png" alt="SnowTricks">
                            <i class="material-icons">keyboard_arrow_down</i>
                        </button>               
                        <div class="collapse navbar-collapse" id="contenu">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{{ path('account_profile') }}">
                                        <i class="material-icons">edit</i>
                                        <span>Votre Profil</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="{{ path('account_password') }}">
                                        <i class="material-icons">update</i>
                                        <span>Votre mot de passe</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="">
                                        <i class="material-icons">note_add</i>
                                        <span>Vos Tricks</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="">
                                        <i class="material-icons">insert_comment</i>
                                        <span>Vos Commentaires</span>
                                    </a>
                                </li>
                                <li class="nav-item d-lg-none">
                                    <a class="nav-link text-danger" href="{{ path('account_logout') }}">
                                        <i class="material-icons text-danger">&#xE879;</i>
                                        <span>Déconnexion</span> 
                                    </a>
                                </li>              
                            </ul>
                        </div> 
                    </nav>
                </aside>
                <!-- End Main Sidebar -->
                <div class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">                  
                    <div class="d-none d-md-none d-lg-block main-navbar sticky-top bg-white">
                        <!-- Main Navbar -->
                        <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0 border-bottom">
                            <div class="w-100"></div>                          
                            <ul class="navbar-nav border-left flex-row-reverse">                              
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                        <img class="user-avatar rounded-circle mr-2" src="/images/{{ app.user.avatar }}" alt="Avatar">
                                        <span>{{ app.user.username }}</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-small">
                                        <a class="dropdown-item" href="">
                                            <i class="material-icons">&#xE7FD;</i> Profil</a>
                                        <a class="dropdown-item" href="">
                                            <i class="material-icons">note_add</i> Vos Tricks</a>
                                        <a class="dropdown-item" href="">
                                            <i class="material-icons">insert_comment</i> Vos Commentaires</a>
                                        <div class="dropdown-divider"></div>
                                            <a class="dropdown-item text-danger" href="{{ path('account_logout') }}">
                                            <i class="material-icons text-danger">&#xE879;</i> Déconnexion </a>
                                    </div>
                                </li>
                            </ul>
                            <nav class="nav">
                                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                                    <i class="material-icons">&#xE5D2;</i>
                                </a>
                            </nav>
                        </nav>
                    </div>
                    <!-- End Main Navbar -->
                    
                    <!-- Start Flash message -->
                    {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <i class="fas fa-times mx-2"></i>
                        <strong>{{ message }}</strong> 
                    </div>
                    {% endfor %}
                    {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <i class="fa fa-check mx-2"></i>
                        <strong>{{ message }}</strong> 
                    </div>
                    {% endfor %}
                    <!-- End Flash message -->

                    <div class="main-content-container container-fluid px-4"> 

                        <!-- Start Header -->
                        <div class="page-header row py-4">
                            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                                <span class="text-uppercase page-subtitle">{% block subtitle %}Sous-Titre{% endblock %}</span>
                                <h3 class="page-title">{% block mainTitle %}Titre{% endblock %}</h3>
                            </div>
                        </div>
                        <!-- End Header -->
                        
                        <!-- Start Body -->
                        <div class="row">
                            {% block body %}
                            {% endblock body %}
                        </div>
                        <!-- End Body -->

                    </div>

                    <!-- Start Footer -->
                    <footer class="main-footer d-block d-md-block d-lg-flex p-2 px-3 bg-white border-top">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/#tricks">Tricks</a>
                            </li>
                            {% if not app.user %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('account_login') }}">Connexion</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('account_register') }}">Inscription</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Profil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('account_logout') }}">Déconnexion</a>
                                </li>
                            {% endif %}
                        </ul>
                        <span class="copyright ml-lg-auto mr-lg-2 my-auto">Copyright © 2018 - Jean Descorps</span>
                    </footer>
                    <!-- End Footer -->

                </div>
            </div>
        </div>

        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!-- Popper Library-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <!-- Bootstrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Main JS File-->
        <script src="/js/main.js"></script>

        {% block javascripts %}{% endblock %}    
    </body>
</html>