{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Accès refusé{% endblock %}

{% block body %}
    <div class="container exception">
        <!-- Start Logo -->
        <div class="row justify-content-center">
            <div class="col-3">
                <img class="img-fluid mb-5" src="/images/403.png" alt="Login Logo">
            </div>               
        </div>
        <!-- End Logo -->

        <!-- Start Error / Redirection -->
        <div class="row justify-content-center">         
            <div class="col-md-6">
                <div class="mb-5 text-center">
                    <h1>Vous ne pouvez pas accéder à cette page.</h1>
                    <p>Essayer de vous inscrire ou de vous connecter puis ré-éssayer.</p>
                </div>              
                <div class="text-center mb-5">
                    <div class="row justify-content-center">
                        <a href="{{ path('home') }}" class="btn btn-success button-exception m-1">Accueil</a>
                        <a href="/#tricks" class="btn btn-success button-exception m-1">Tricks</a>
                        {% if not app.user %}
                            <a href="{{ path('account_register') }}" class="btn btn-success button-exception m-1">Inscription</a>
                            <a href="{{ path('account_login') }}" class="btn btn-success button-exception m-1">Connexion</a>
                        {% else %}
                            <a href="{{ path('account_profile') }}" class="btn btn-success button-exception m-1">Profil</a>
                            {% if app.user.role == 'ROLE_ADMIN' %}
                                <a href="{{ path('account_profile') }}" class="btn btn-success button-exception m-1">Administration</a>
                            {% endif %}
                        {% endif %}
                    </div>                  
                </div>
            </div>
        </div>
        <!-- End Error / Redirection -->
    </div>
{% endblock %}