{% extends 'admin-base.html.twig' %}

{% block subtitle %}Vue d'ensemble{% endblock %}
{% block mainTitle %}Tous les tricks{% endblock %}

{% block body %}
    {% for trick in paging.data %}
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card card-small card-post card-post--1">
                <div class="card-post__image" style="background-image: url('/images/{{ trick.image }}');">
                    <div class="card-post__author d-flex">
                        <a href="{{ path('user_profile', { 'id' : trick.user.id }) }}" target="_blank" class="card-post__author-avatar card-post__author-avatar--small" style="background-image: url('/images/{{ trick.user.avatar }}');">Ecrit par {{ trick.user.username }}</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-fiord-blue" href="{{ path('trick_show', {'id': trick.id}) }}">{{ trick.title }}</a>
                    </h5>
                    <p class="card-text d-inline-block mb-3">{{ trick.lead }}</p><br>
                    <span class="text-muted">{{ trick.createdAt | localizeddate('none', 'none', null, null, 'dd MMMM y') }}</span>
                    <div class="blog-comments__actions mt-3">
                        <div class="btn-group btn-group-sm">
                            <button type="button" onclick="window.open('{{ path('trick_show', {'id': trick.id}) }}')" target="_blank" class="btn btn-white">
                            <span class="text-success">
                            <i class="material-icons">arrow_right_alt</i>
                            </span> Consulter </button>
                            <button type="button" class="btn btn-white" data-toggle="modal" data-target="#deleteTrickModal" data-href="{{ path('trick_admin_delete', {'id': trick.id}) }}">
                            <span class="text-danger">
                            <i class="material-icons">clear</i>
                            </span> Supprimer </button>
                            <button type="button" onclick="window.location.href = '{{ path('trick_edit', {'id': trick.id}) }}';" class="btn btn-white">
                            <span class="text-light">
                            <i class="material-icons">more_vert</i>
                            </span> Modifier </button>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>        
    {% endfor %}
{% endblock %}
{% block paging %}
    {% include('/paging/paging.html.twig') with {'route' : 'admin_trick'} %}
{% endblock %}
